<br>
<button type="button" class="btn btn-primary btn-lg btn-block">New Customer Info </button>

<%= render 'form', person: @person %>

<%= link_to 'Back', people_path, :class => "btn btn-outline-success" %>
